/* General Page Style  */
body {
  padding: 10px;
}

/* Style of Curriculum Title */
h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: purple;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Style of Personal Data */
.dados-pessoais {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Style of 'UL' */
#dados {
  margin-left: 30px;
  list-style-type: disc;
}

/* Style of 'TABLE' */
table,
tr,
td,
th {
  padding: 5px;
  border: 1px solid gray;
  margin-bottom: 30px;
  margin-top: 30px;
}

th {
  background-color: #ddd;
}
